body {
	background-image: 
	linear-gradient(
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.1)
    ),
	url('/img/bg.jpg');
	background-size: cover;

}
div {
	padding-top: 100px;
 	width: 800px;
	margin: 0 auto;
}

h1 {
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 72px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26px;
	margin: 0 auto;
	text-align: center;
}

form {
  width: 800px;
  text-align: center;
}

input {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26px;
	text-align: left;
	vertical-align: bottom;
}

#form-bootstrap-overrides {
	width: 600px;
}

p {
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26px;
	text-align: center;
}



#intro p {
	padding-top: 50px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26px;
	text-align: center;
}

#error {
	color: red;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26px;
}

table	{
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #7DB2B2;
}

th {
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26px;
}

tr {
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26px;
}

a {
	color: #CCFFFF;
}

.sharp {
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	border-radius: 0;
	background-color: #54B2A9;
}

.row-centered {
    margin: 0 auto;
}

.col-md-4	{
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.2);
	height: 300px;
}

.col-md-4	p2 {

	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 32px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.iconformat {
	font-size: 96px;
	color: #fff;
	top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}