<h1>Welcome to shor.ty</h1>
<p>Short link generator!</p>

<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<div>
<p>
<%= @error %>

</p>
<p>Here are your recently shortened URLs!</p>

<% @urls.each do |url|%>
<ul>
<a href="http://localhost:9393/<%= url.short_url%>">http://localhost:9393/<%= url.short_url%></a>
<%= url.click_count%>
</ul>
<% end%>

</div>